/* NAVBAR */
.navbar {
    background-color: #f7f8f8;
    font-family: Calibri;
    font-stretch: condensed;
    font-weight: bolder;
    text-shadow: none;
}


.link-nav,
.link-nav:hover,
.link-nav:visited,
.nav-item,
.navbar-brand {
    color: #a3b18a;
    font-size: 22px;
}

/* --- */


body {
    color: #fefae0;
    font-family: Courier New;
    background-color: #b3bea0;
    text-shadow: 1px 1px 2px #819986;
}

.container {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.fotoCasal1 {
    height: 400px;
    width: 400px;
}

#imagemSobreSection {
    width: 350px;
    height: 350px;
    object-fit: cover;
}

.frase1 {
    font-size: 28px;
    font-weight: thin;
    text-align: center;
}

.frasesConviteCursive {
    font-family: Baskerville;
    font-size: 45px;
    font-weight: 50;
    font-style: oblique;
}

#linkConvites,
#linkConvites:hover,
#linkConvites:visited {
    color: #fefae0;
    text-decoration: none;
}

.btn-convites,
.textoBtnConvites {
    font-family: Courier New;
    background-color: #f7f8f8;
    font-weight: bold;
    border-radius: 0%;
    color: #627966;
    text-shadow: 1px 1px 2px #fefae0;
}

.btn-convites:hover,
.textoBtnConvites:hover {
    background-color: #ccd5ae;
}

.imgGreenHeart {
    width: 25px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 5px;
}

.greenHeart2 {
    width: 40px;
    transform: translateY(0px);
    animation: float 5s ease-in-out infinite;
}

.vetGreen {
    width: 40px;
    transform: translateY(0px);
    animation: float2 5s ease-in-out infinite;
}

@keyframes float {
    0% {
        transform: translateY(1px);
    }

    50% {
        transform: translateY(-50px);
    }

    100% {
        transform: translateY(10px);
    }
}

@keyframes float2 {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-25px);
    }

    100% {
        transform: translateY(0px);
    }
}