/* NAVBAR */
.navbar {
    background-color: #f7f8f8;
    font-family: Calibri;
    font-stretch: condensed;
    font-weight: lighter;
    text-shadow: none;
}


.link-nav,
.link-nav:hover,
.link-nav:visited,
.nav-item,
.navbar-brand {
    color: #588157;
    font-size: 22px;
    font-weight: 50px;
}

svg {
    color: #757677;
}

/* --- */


body {
    color: #e2e2e2;
    font-family: Courier New;
    background-color: #a3b18a;
    text-shadow: 1px 1px 2px #4d6953;
}

.container {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.fotoCasal1 {
    height: 400px;
    width: 400px;
}

#imagemSobreSection{
    width: 350px;
    height: 350px;
    object-fit: cover;
}

.frase1 {
    font-size: 22px;
    font-weight: thin;
    text-align: center;
}

.fonteNomes{
    font-family: Calibri;
    font-stretch: condensed;
    font-weight: lighter;
}
.frasesConviteCursive {
    font-family:Baskerville;
    font-size: 45px;
    font-weight: 50;
    font-style: oblique;
}

#linkConvites,
#linkConvites:hover,
#linkConvites:visited {
    color: #588157;
    text-decoration: none;
}

.btn-convites, .textoBtnConvites{
    font-family: Courier New;
    background-color: #dad7cd;
    font-weight: bold;
    border-radius: 0%;
    color: #3a5a40;
    text-shadow: 1px 1px 2px #fdf0d5;
}
.btn-convites:hover, .textoBtnConvites:hover{
    background-color: #ccd5ae;
}
