/* NAVBAR */
.navbar {
    background-color: #f7f8f8;
    font-family: Calibri;
    font-stretch: condensed;
    font-weight: lighter;
    text-shadow: none;
}


.link-nav,
.link-nav:hover,
.link-nav:visited,
.nav-item,
.navbar-brand {
    color: #283618;
    font-size: 22px;
    font-weight: 50px;
}
/* --- */


body {
    color: #fefae0;
    font-family: Courier New;
    background-color: #b3bea0;
    text-shadow: 1px 1px 2px #819986;
}

.container {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.fotoCasal1 {
    height: 400px;
    width: 400px;
}

#imagemSobreSection{
    width: 350px;
    height: 350px;
    object-fit: cover;
}

.frase1 {
    font-size: 28px;
    font-weight: thin;
    text-align: center;
}

.frasesConviteCursive {
    font-family:Baskerville;
    font-size: 45px;
    font-weight: 50;
    font-style: oblique;
}

#linkConvites,
#linkConvites:hover,
#linkConvites:visited {
    color: #fefae0;
    text-decoration: none;
}

.btn-convites, .textoBtnConvites{
    font-family: Courier New;
    background-color: #f7f8f8;
    font-weight: bold;
    border-radius: 0%;
    color: #627966;
    text-shadow: 1px 1px 2px #fefae0;
}
.btn-convites:hover, .textoBtnConvites:hover{
    background-color: #ccd5ae;
}
