
/* NAVBAR */
.navbar {
    background-color: #fdfff1;
    font-family: Courier New;
}


.navbar-link,
.nav-link:hover,
.nav-link:visited,
.nav-item,
.navbar-brand {
    color: #606c38;
    font-size: 24px;
}

svg {
    color: #757677;
}

/* --- */


body {
    color: #757677;
    font-family: Courier New;
    background-color: #e9edc9;
}

.fotoCasal1 {
    height: 400px;
    width: 400px;
}

#img-1-sobre,
#img-2-sobre {
    width: 350px;
    height: 350px;
    object-fit: cover;
}

.frase1{
    font-size: 26px;
    font-weight: bolder;
    text-align: center;
}
.container{
    width: 700px; 
    margin-left: auto;
    margin-right: auto; 
}